{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-unused-vars": [
      "error", 
      { 
      "vars": "all", 
      "args": "after-used", 
      "ignoreRestSiblings": false 
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
